RewriteEngine On

# 아래 조건은 요청된 파일이나 디렉토리가 실제로 존재하지 않을 때만 재작성 규칙을 적용하도록 합니다.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# 모든 요청을 index.php로 라우팅합니다.
RewriteRule ^ index.php [QSA,L]